<section class="select_clint">
  <header class="head">
    <ul class="menu-bar">
      <li><a href="/admin" class="menu">صفحه اصلی</a></li>
    </ul>
  </header>

  <main class="link_main">
    <h4
      style="
        background-color: black;
        box-shadow: 1px 2px 3px black;
        color: white;
        border-radius: 1rem;
        padding: 0.5rem;
      "
    >
      لطفا گزینه مورد نظر خود را انتخاب کنید
    </h4>

    <a href="/admin/clints" class="link"> مشتریان </a>
    <a href="/admin/clintsCreditor" class="link"> مشتریان بستانکار </a>
    <a href="/admin/creatClient" class="link"> ایجاد مشتری </a>
  </main>

  <footer class="footer"></footer>
</section>
