<section class="auth">
  <header class="head">
    <ul class="menu-bar">
      <li><a href="/admin" class="menu">صفحه اصلی</a></li>
      <li><a href="/admin/clint" class="menu">صفحه مشتری</a></li>
    </ul>
  </header>

  <main class="form_question">
    <%- include(viewPath('layouts/error-messages')) -%>

    <select
      style="width: 30rem; box-shadow: 1px 2px 3px black"
      name="forma"
      onchange="location = this.value;"
    >
      <option disabled selected>مشتری مورد نظر خود را انتخاب کنید</option>
      <% clints.forEach(clint => { %>
      <option value="/admin/factorClint/<%= clint.id %>">
        <%= clint.name %>
      </option>
      <% }) %>
    </select>
  </main>

  <footer class="footer"></footer>
</section>
