<section class="admin">
  <header class="head">
    <h2
      style="
        background-color: #000000bc;
        color: rgb(255, 255, 255);
        border-radius: 1rem;
        padding: 0.5rem;
        margin-top: 5px;
      "
    >
      پخش مواد غذایی عبدالرضا مردانی
    </h2>
  </header>

  <main class="link_main">
    <a href="admin/factor" class="link"> صدور فاکتور </a>
    <a href="admin/clint" class="link"> مشتریان </a>
    <a href="admin/products" class="link"> محصولات </a>
    <a href="admin/purchaseInvoice" class="link"> فاکتور های خرید </a>
  </main>

  <footer class="footer"></footer>
</section>
