<section class="factorInv">
  <header class="head">
    <ul class="menu-bar">
      <li><a href="/admin" class="menu">صفحه اصلی</a></li>
    </ul>
  </header>

  <main class="link_main">
    <h3
      style="
        background-color: black;
        box-shadow: 1px 2px 3px black;
        color: white;
        border-radius: 1rem;
        padding: 0.5rem;
      "
    >
      لطفا گزینه مورد نظر خود را انتخاب کنید
    </h3>

    <a href="/admin/showPurchaseInvoice" class="link"> مشاهده فاکتور خرید </a>
    <a href="/admin/uploadFactorInv" class="link"> ارسال فاکتور خرید </a>
  </main>

  <footer class="footer"></footer>
</section>
